{% extends "layout.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<form method="post" action=".">
{% csrf_token %}
{% include 'includes/bootstrap_form.html' with form=form %}
  <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
</form>

{% else %}
    <h3 class="text-center">Reset Your Password</h3>
    <div class="alert alert-danger" role="alert">
         It looks like you clicked on an invalid password reset link. Please try again.
    </div>
    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
{% endif %}

{% endblock %}