{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="jumbotron mt-4 w-50">
                <form method="post" action=".">
                    {% csrf_token %}
                   {% include 'includes/bootstrap_form.html' with form=form %}
                    <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}