<nav class="navbar navbar-expand-lg navbar-dark bg-transparent  div-nav">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand">Rooms Magma</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="mainMenu">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="list-nav-li nav-item  text-muted ">
                            <a href="{% url 'auth_logout' %}" class="">Logout</a>
                        </li>
                        <li class="list-nav-li nav-item text-light">
                            Hi {{ user.username }}
                        </li>

                    </ul>
                {% else %}
                    <ul class=" navbar-nav ml-auto  ">
                        <li class="list-nav-li nav-item"><a href="">Profile</a></li>
                        <li class="list-nav-li nav-item"><a href="">Guided Tour</a></li>
                        <li class="list-nav-li nav-item"><a href="">Reserve Space</a></li>
                    </ul>
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>