{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="" class="navbar-brand">Rooms Magma</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="mainMenu">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a href="" class="dropdown-item">Your Bookings </a>
                               <div class="dropdown-divider"></div>
                                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class=" navbar-nav ml-auto  ">
                        <li class="list-nav-li nav-item"><a href="">Newsletter</a></li>
                        <li class="list-nav-li nav-item"><a href="">Guided Tour</a></li>
                        <li class="list-nav-li nav-item"><a href="">Reserve Space</a></li>
                    </ul>
                    <a href="" class="btn btn-outline-secondary">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-end align-content-end" id="div-nav">
        <div class="container p-5 m-5  ">
            <h2 class="text-white d-flex flex-row justify-content-center">Reserve your space to start working</h2>
            <section class="d-flex flex-row justify-content-center">

                <form class="form-inline" action="{% url 'search' %}" method="post" id="form-reservate">
                    {% csrf_token %}
                    <label class="text-white" for="date">Day</label>
                    <input type="date" class="form-control" name="date" id="date">
                    <label class="text-white" for="hours">Hours</label>
                    <input type="time" class="form-control" name="hours" id="hours">
                    <button class="btn btn-info ml-3">Search</button>
                </form>
                {% if context %}
                <p class="text-danger">{{ context }}</p>
                {% endif %}
            </section>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid p-4 bg-light ">
        <div class="row h-100">
            {% for room in rooms %}
            <div class="col-xs-4 col-md-3     d-flex flex-row justify-content-center align-content-center" id="card-home">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'img/8-sala-de-conferencias-in-zalacain.jpg' %}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center"> {{ room.name }}</h5>
                            <p class="card-text text-center">{{ room.features }}</p>
                            <p>Size: <strong>{{ room.size }}</strong> </p>
                            <a href="{% url 'reservation' room_id=room.id %}" class="btn btn-primary">Reservate</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="col-10  m-5 p-5">
            <div id="calendar"></div>
    </div>

    <div class="row">
        <div class="container mt-5 pt-5bg-white" style="border: 1px solid burlywood">
            <h2 class="text-center">Filosofia Magma</h2>
        </div>
    </div>
    <div class="row">
        <div class="container mt-5 pt-5bg-white" style="border: 1px solid burlywood">
            <h2 class="text-center">¿Newsletter ultima semana?</h2>
        </div>
    </div>
      <div class="row">
        <div class="container mt-5 pt-5bg-white" style="border: 1px solid burlywood">
            <h2 class="text-center">¿Mas datos?</h2>
        </div>
    </div>
    </div>
    <footer class="bg-dark h-100">
    <div class="container-fluid ">
        <ul class="navbar-nav ml-auto">
            <li class="text-white">hola</li>
            <li class="text-white">hola</li>
            <li class="text-white">hola</li>
        </ul>
    </div>
    </footer>
{% endblock %}

{% block js %}

    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}