{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">

{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent  div-nav">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand">Rooms Magma</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="mainMenu">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a href="" class="dropdown-item">Your Bookings </a>
                                <a href="{% url 'auth_password_change' %}" class="dropdown-item">Change password</a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'auth_logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class=" navbar-nav ml-auto  ">
                        <li class="list-nav-li nav-item"><a href="">Newsletter</a></li>
                        <li class="list-nav-li nav-item"><a href="">Guided Tour</a></li>
                        <li class="list-nav-li nav-item"><a href="">Reserve Space</a></li>
                    </ul>
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-md-center align-content-md-center  div-nav">
        <div class="container p-5 m-5  ">
            <h2 class="text-white d-flex flex-row justify-content-center">Reserve your space to start working</h2>
            <section class="d-flex flex-row justify-content-md-center">
                <form class="form-inline " action="{% url 'search' %}" method="post" id="form-reservate">
                    {% csrf_token %}
                    <label class="text-white" for="date">Day</label>
                    <input type="date" class="form-control" name="date" id="date">
                    <label class="text-white" for="hours">Time Entry</label>
                    <input type="time" class="form-control" name="hours" id="hours">
                    <button class="btn btn-info ml-3">Search</button>

                </form>
                {% if context %}
                    <p class="text-danger">{{ context }}</p>
                {% endif %}
            </section>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid p-4 bg-light ">
        <div class="row h-100">
            {% if date %}
                <div class="container-fluid w-100 mb-4 p-2" style="background-color: rgba(104,180,178,0.26)">
                    <p class="h6 text-center"><strong>{{ rooms.count }}</strong> salas disponibles el
                        <strong>{{ date }}</strong></p>
                </div>
            {% endif %}
            {% for room in rooms %}
                <div class="col-xs-4 col-md-3 pb-4     d-flex flex-row justify-content-center align-content-center"
                     id="card-home">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div id="carousel{{ room.name }}" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for image in room.roomimage_set.all %}
                                        <li data-target="#carousel{{ room.name }}Indicators"
                                            data-slide-to="{{ forloop.counter }}"
                                            {% if forloop.first %}class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for image in room.roomimage_set.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img class="d-block w-100"
                                                 src="{% static image %}" width="200" height="200" alt="First slide">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carousel{{ room.name }}" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel{{ room.name }}" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center"> {{ room.name }}</h5>
                                <p class="card-text text-center">{{ room.features }}</p>
                                <p>Size: <strong>{{ room.size }}</strong></p>
                                <a href="{% url 'reservation' room_id=room.id %}" class="btn btn-primary">Reservate</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-10  m-5 p-5">
            <div id="calendar"></div>
        </div>

        <div class="row">
            <div class="container mt-5 pt-5bg-white" style="border: 1px solid burlywood">
                <h2 class="text-center">Filosofia Magma</h2>
            </div>
        </div>
        <div class="row">
            <div class="container mt-5 pt-5bg-white" style="border: 1px solid burlywood">
                <h2 class="text-center">¿Newsletter ultima semana?</h2>
            </div>
        </div>
        <div class="row">
            <div class="container mt-5 pt-5bg-white" style="border: 1px solid burlywood">
                <h2 class="text-center">¿Mas datos?</h2>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ user.id }}" id="idUser">
    {% include 'includes/bootstrap_modal_event.html' %}
    {% include 'includes/bootstrap_modal_addEvent.html' %}
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'js/calendarHome.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% endblock %}