{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Magma Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}
{% block content %}

{% endblock %}
<footer class=" h-100 pt-5 mt-5 footer-top ">
    <div class="col pb-5 ">
        <div class="container col-6">
            <ul class="navbar-nav ml-auto d-flex flex-row justify-content-between">
                <li class="text-white list-nav-li nav-item  text-muted"><a href="#">Contact</a></li>
                <li class="text-white list-nav-li nav-item  text-muted">*</li>
                <li class="text-white list-nav-li nav-item  text-muted"><a href="#">Web Site</a></li>
                <li class="text-white list-nav-li nav-item  text-muted ">*</li>
                <li class="text-white list-nav-li nav-item  text-muted"><a href="#">Magma</a></li>
            </ul>
        </div>
    </div>
    <div class="col bg-dark">
        <div class="container ">
            <ul class="navbar-nav ml-auto d-flex flex-row justify-content-around">
                <li class=" list-nav-li nav-item "><a href="https://twitter.com/wearecommite"><i class="fab fa-twitter fa-2x"></i></a></li>
                <li class="list-nav-li nav-item"><a  href=""><i class="fab fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>