{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">

{% endblock %}
{% block content %}
    <div class="container bg-light">
        <div class="row mt-5">
            <div class="col-8 h-100 pt-4">
                <div class="container">
                    <h4 class="text-capitalize text-left p-2">{{ room.name }} <br>
                        <small class="text-muted">Texto Texto Texto Texto</small>
                    </h4>
                    <div id="carousel{{ room.name }}" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in room.image_set.all %}
                            <li data-target="#carousel{{ room.name }}Indicators" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in room.image_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100"
                                     src="{% static image  %}" alt="First slide">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel{{ room.name }}" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel{{ room.name }}" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="accordion pt-3" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn w-100 text-left" type="button" data-toggle="collapse"
                                            data-target="#collapseDescription" aria-expanded="true"
                                            aria-controls="collapseDescription">
                                        <i class="fas fa-align-left"></i> <strong>Description</strong>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseDescription" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    {{ room.description }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion pt-3" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn w-100 text-left" type="button" data-toggle="collapse"
                                            data-target="#collapseDetailed" aria-expanded="true"
                                            aria-controls="collapseDetailed">
                                        <i class="fas fa-bookmark"></i> <strong>Detailed information</strong>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseDetailed" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row pl-3">
                                                <i class="fas fa-info-circle"></i> <h5 class="text-center pl-2"> Details</h5>
                                            </div>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Capacity
                                                    <span class="badge badge-pill badge-primary">{{ room.features.capacity }}</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Chairs
                                                   <span class="badge badge-pill badge-primary">{{ room.features.chairs }}</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Slate
                                                  {% if room.features.slate == 1 %}
                                                      <span><i class=" far fa-check-circle"></i></span>
                                                    {% else %}
                                                    <span><i class="far fa-times-circle"></i></span>
                                                    {% endif %}
                                                </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Wifi
                                                  {% if room.features.wifi == 1 %}
                                                      <span><i class="far fa-check-circle"></i></span>
                                                    {% else %}
                                                    <span><i class="far fa-times-circle"></i></span>
                                                    {% endif %}
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col">
                                            <div class="row pl-3 ">
                                                <i class="fas fa-plug"></i><h5 class="text-center pl-2">Technology</h5>
                                            </div>
                                            <ul class="list-group">
                                               <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Spotlight
                                                  {% if room.features.spotlight == 1 %}
                                                      <span><i class="far fa-check-circle"></i></span>
                                                    {% else %}
                                                    <span><i class="far fa-times-circle"></i></span>
                                                    {% endif %}
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Sound System
                                                  {% if room.features.sound_system == 1 %}
                                                      <span><i class="far fa-check-circle"></i></span>
                                                    {% else %}
                                                    <span><i class="far fa-times-circle"></i></span>
                                                    {% endif %}
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Video Conference Equipament
                                                  {% if room.features.videoConference_equipament == 1 %}
                                                      <span><i class="far fa-check-circle"></i></span>
                                                    {% else %}
                                                    <span><i class="far fa-times-circle"></i></span>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-4 align-content-md-center pt-5 pb-5">

                <h3 class=" text-primary pt-5">Bookings</h3>
                <div id="calendar" class="pb-5"></div>

                <input type="hidden" id="valueRoom" value="{{ room.id }}">
                <h3 class=" text-primary">Complete your booking</h3>

                <form method="post" novalidate >
                    {% csrf_token %}
                   {% include 'includes/bootstrap_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary text-left" value="submit">Reservate</button>
                </form>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/calendarRoom.js' %}"></script>
{% endblock %}
